@page "/"

<h2>Metropolitan Museum of Art </h2>
<div id="container">
    <div class="row mb-2">
        <div class="col-4 mb-2">
            The Metropolitan Museum of Art in New York City,
            NY is the largest and most-visited art museum in the United States.
            <p></p>
            It boasts a permanent collection of over two million works,
            divided among 17 departments.
        </div>
        <div class="col-4 mb-2">
            <img src="./met-exterior.jpg" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-8">
            On this site you can review items from the vast collection 
            of the museum's holdings, by department, 
            a keyword (matching artist name, or subject), or artwork id.
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-4 mb-2">
            <img src="./egyptian-works-met.jpg" />
        </div>
        <div class="col-4 mb-2">
            The collections contain artwork and artifacts from throughout the world, 
            with extensive collections of Egyptian, Asian, African, and European works.
            <p></p>
            Many of the items were created in
            antiquity, including works of Greek and Roman origin.
        </div>
    </div>
    <div class="row">
        <div class="col-8 mb-2">
            It is located on the eastern edge of Central Park in New York City. 
            It was granted the land where it is currently located in 1871.
            <p></p>The original
            building was completed in 1880, but was enlarged to its current size 
            during the decades that followed.
        </div>
    </div>
</div>